html{color:#2C5700; background-color:#FFFFFF;}
body{margin:30px;}
a{color:#024769; text-decoration:none;}
a:hover{color:#95CBE9;}

#header .title a {font-size:3em; color:#2C5700;}
#header .description {color:#5F5F5F;}

#links .item{margin-top:30px; width:500px;}
#links .name{font-size:2em;}
#links .label{margin-right:5px; float:left;}

#meta {margin-top:30px;}

#social .social_item {float:left; margin-right:10px;}

#content {margin-top:30px;}

.noscript {color:red;}
.bold {font-weight:bold;}
.clearfix {clear:both;}
